.Header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 10rem;
    height: 3rem;
    
}

.Header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.Header-menu>li{
    cursor: pointer;
}
.Header-menu>li:hover{
    color: var(--orange);
}
